# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/*.tfvars

# Terraform
bootstrap/.terraform/
bootstrap/terraform.tfstate
bootstrap/terraform.tfstate.*
bootstrap/*.tfvars

# Ansible
ansible/inventory.ini

# SSH keys
*.pem

# OS / Editor
.vscode/
.DS_Store

#Python virtual environments
venv/
.venv/
env/